<template name="custom_fullPageAtForm">
    {{#if isRegister}}
        <div class="at-form">
	<p>Coffee Hustle is free and open to all people who are serious about coffee. If you want to read, and discuss, and share coffee knowledge this is your place.</p>
	<p>Everyone is free to share on Coffee Hustle, and posters retain the copyright to their posts and comments. We believe that by sharing together we can all build a more productive, engaging global coffee community.</p>
	<p>We ask that all members use their preferred public names, for clarity and honesty's sake. We also expect all members to abide by our <a href="https://coffeehustle.com/page/community-guidelines">Community Guidelines</a>. Your registration signfies your acceptance of these codes of conduct.</p>
        </div>
    {{/if}}
    {{> atForm}}
</template>
