<template name="custom_user_complete">
  <div class="grid-small grid-block dialog user-edit">
    <div class="finish-signup-message">
        <p>Please fill in some more information about yourself. This will help everyone know who they're talking to, and make commercial discussions more transparent.</p>
	<p>We also ask that you take a moment to read our <a href="https://coffeehustle.com/page/community-guidelines">Community Guidelines</a></p>
	<div class="tos" style="height:180px;border:1px solid #ccc;overflow:auto">
<p><b>By using this website, you agree to:</b></p>
<p>Contribute worthwhile, interesting content that you have the rights to share. Cite sources and give proper attribution.</p>
<p>Interact professionally; focus on topics not people. Make any criticism constructive.</p>
<p>Honestly represent any affiliations or stakes you may have in topics you discuss. Be clear about your affiliations on your profile and when engaging in any commercial activity.</p>
<p>Bring issues of concern to moderators in a timely manner via messaging, meta or flagging features.</p>
<p><b>You agree not to:</b></p>
<p>Solicit or offer employment or services outside of the designated categories for such content. </p>
<p>Harass, intimidate, or engage in repeated unwanted interactions with any member of the site. Sexist, racist or other derogatory comments about particular groups will not be tolerated.</p>
<p>Misrepresent your identity, affiliation or other pertinent personal details.</p>
<p><b>We agree to:</b> </p>
<p>Maintain open access to everything you post for members (except posts removed at moderator discretion for guidelines violations).</p>
<p>Set fair access controls and costs associated with this community.</p>
<p>Respond with care and consideration to complaints with a three strikes system used to handle infractions. </p>
<p><b>We agree not to:</b></p>
<p>Violate your privacy or share your private information with any outside parties.</p>
<p>Redistribute content outside of this community without express permissions of creators.</p></div>
    </div>
<br>	
    {{> quickForm collection="Meteor.users" doc=user id="completeUserForm" template="bootstrap3-horizontal" input-col-class="controls" type="method-update" meteormethod="completeUserProfile" fields=requiredFields}}
  </div>
</template>
