/* CSS bootstrap fixes */
a:hover{font-style: none !important}
/* Custom CSS */
.post-vote .vote-actions {
    border: 0px solid #dfdbdb;
    border-radius: 0px;
}
.note-editor .note-editing-area{
    height: 150px;
}

.note-editor .note-editing-area .note-editable{
    height: 150px;   
    width: 100%;
}

form .form-actions a, form .form-group a, .accounts-dialog .form-actions a, .accounts-dialog .form-group a, .note-editable.panel-body{
    float: none;
    display: inline-block;
}

.category-input li {
    padding: 5px;
    margin: 0;
    float: left;
}

@media (min-width: 768px) {
  .form-horizontal .control-label { 
        margin-left: 105px;
    }
}
/* alert from bootstrap */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}
