<template name="custom_post_submit">
    <div class="form-page post-submit">
        <div class="grid grid-module">
            <br>
            <p style="font-style: italic">Please enter the URL for any content you are sharing—the fields will auto-populate and can then be edited. If you are writing a wholly original post, you can leave the URL blank, and upload an image manually if you want.</p>
            <br>
            <p style="font-style: italic">Remember:
                <br>1. Properly attribute all content.
                <br>2. Ensure your tone is constructive, professional, and not overly promotional.
                <br>3. Any forms of harassment, personal attacks, or content that is in any way against our <a href="https://coffeehustle.com/page/community-guidelines">Community Guidelines</a> will not be tolerated.
            </p>
            <br>
        </div>
    </div>
    <br>
    {{#unless isGuest}}
        <div class="form-page post-submit">
            <div class="grid grid-module">
                {{> quickForm collection="Posts" id="submitPostForm" template="bootstrap3-horizontal" input-col-class="controls" type="method" meteormethod="submitPost" fields=postFields}}
            </div>
        </div>
    {{else}}
        {{> guest_message}}
    {{/unless}}
</template>
