<template name="custom_comment_list">
            <ul class="comments comment-list" aria-live="polite">
            {{#each child_comments}}
                {{> comment_item}}
            {{/each}}
        </ul>
        {{> modules "commentThreadBottom"}}
</template>
